@import "../node_modules/tinper-bee-core/scss/minxin-variables";
@import "../node_modules/tinper-bee-core/scss/minxin-mixins";
.u-steps {
  font-size: 0;
  width: 100%;
  line-height: 1.5;

  .u-steps-item {
    position: relative;
    display: inline-block;
    vertical-align: top;
  }
  .u-steps-item.u-steps-status-wait{
    .u-steps-head-inner {
      border-color: rgba(0, 0, 0, 0.25);
      background-color: #fff;
    }
    .u-steps-head-inner > .u-steps-icon {
      color: rgba(0, 0, 0, 0.25);
    }
    .u-steps-title {
      color: rgba(0, 0, 0, 0.43);
    }
    .u-steps-description {
      color: rgba(0, 0, 0, 0.43);
    }
    .u-steps-tail > i {
      background-color: #e9e9e9;
    }
  } 
  
  .u-steps-item.u-steps-status-process {
    .u-steps-head-inner {
      border-color: $brand-primary;
      background-color: $brand-primary;
    }
    .u-steps-head-inner > .u-steps-icon {
      color: #fff;
    }
    .u-steps-title {
      color: rgba(0, 0, 0, 0.65);
    }
    .u-steps-description {
      color: rgba(0, 0, 0, 0.65);
    }
    .u-steps-tail > i {
      background-color: #e9e9e9;
    }
  } 
  
  .u-steps-item.u-steps-status-finish {
    .u-steps-head-inner {
      border-color: $brand-primary;
      background-color: #fff;
    }
    .u-steps-head-inner > .u-steps-icon {
      color: $brand-primary;
    }
    .u-steps-tail > i:after {
      width: 100%;
      background: $brand-primary;
      -webkit-transition: all 0.6s;
      transition: all 0.6s;
      opacity: 1;
    }
    .u-steps-title {
      color: rgba(0, 0, 0, 0.43);
    }
    .u-steps-description {
      color: rgba(0, 0, 0, 0.43);
    }
  }
  .u-steps-item.u-steps-status-error {
    .u-steps-head-inner {
      border-color: $brand-danger;
      background-color: #fff;
    }
    .u-steps-head-inner > .u-steps-icon {
      color: $brand-danger;
    }
    .u-steps-title {
      color: $brand-danger;
    }
    .u-steps-description {
      color: $brand-danger;
    }
    .u-steps-tail > i {
      background-color: #e9e9e9;
    }
    
  }
  .u-steps-item.u-steps-next-error {
    .u-steps-tail > i,.u-steps-tail > i:after {
      background-color: #F04134;
    }
  } 
  .u-steps-item.u-steps-custom {
    .u-steps-head-inner {
      background: none;
      border: 0;
      width: auto;
      height: auto;
    }
    .u-steps-head-inner > .u-steps-icon {
      font-size: 26px;
      width: 26px;
      height: 26px;
    }
    &.u-steps-status-process .u-steps-head-inner > .u-steps-icon {
      color: $brand-primary;
    }
  }
  .u-steps-head,.u-steps-main {
    position: relative;
    display: inline-block;
    vertical-align: top;
  }
  .u-steps-head {
    background: #fff;
  }
  .u-steps-head-inner {
    display: block;
    border: 1px solid rgba(0, 0, 0, 0.25);
    width: 26px;
    height: 26px;
    line-height: 23px;
    text-align: center;
    border-radius: 26px;
    font-size: 14px;
    margin-right: 8px;
    -webkit-transition: background-color 0.3s ease, border-color 0.3s ease;
    transition: background-color 0.3s ease, border-color 0.3s ease;

    > .u-steps-icon {
      line-height: 1;
      color: $brand-primary;
      position: relative;
    }
    > .u-steps-icon.uicon {
      font-size: 12px;
      line-height: 1.9;
    }
    > .u-steps-icon.uicon-cross,
    > .u-steps-icon.uicon-check {
      font-weight: bold;
    }
  }

  .uicon-check:before {
      content: "\e677";
  } 
  .uicon-cross:before {
    content: "\e76b";
  }
  .uicon:before {
      display: inline-block;
      font-family: uf!important;
  }
  .uf {
    font-size: 22px;
  }

  .u-steps-main {
    margin-top: 2.5px;
  }

  .u-steps-title {
    font-size: 14px;
    margin-bottom: 4px;
    color: rgba(0, 0, 0, 0.65);
    font-weight: bold;
    background: #fff;
    display: inline-block;
    padding-right: 10px;

    > a:first-child:last-child {
      color: rgba(0, 0, 0, 0.65);
    }
  }
  .u-steps-item-last .u-steps-title {
    padding-right: 0;
    width: 100%;
  }
  .u-steps-description {
    font-size: 12px;
    color: rgba(0, 0, 0, 0.43);
  }
  .u-steps-tail {
    position: absolute;
    left: 0;
    width: 100%;
    top: 13px;
    padding: 0 10px;
  }
  .u-steps-tail > i {
    display: inline-block;
    vertical-align: top;
    background: #e9e9e9;
    height: 1px;
    border-radius: 1px;
    width: 100%;
    position: relative;
  }
  .u-steps-tail > i:after {
    position: absolute;
    content: '';
    top: 0;
    width: 0;
    background: #e9e9e9;
    height: 100%;
    opacity: 0;
  }
  &.u-steps-small {
    .u-steps-head-inner {
      border: 1px solid rgba(0, 0, 0, 0.25);
      width: 18px;
      height: 18px;
      line-height: 15px;
      text-align: center;
      border-radius: 18px;
      font-size: 12px;
      margin-right: 10px;
    }
    .u-steps-head-inner > .u-steps-icon.uicon {
      display: inline-block;
      font-size: 12px;
      font-size: 9px \9;
      -webkit-transform: scale(0.75) rotate(0deg);
          -ms-transform: scale(0.75) rotate(0deg);
              transform: scale(0.75) rotate(0deg);
      /* IE6-IE8 */
      -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(sizingMethod='auto expand', M11=1, M12=0, M21=0, M22=1)";
      zoom: 1;
      top: 0;
    }
    .u-steps-main {
      margin-top: 0;
    }
    .u-steps-title {
      font-size: 12px;
      margin-bottom: 4px;
      color: rgba(0, 0, 0, 0.65);
      font-weight: bold;
    }
    .u-steps-description {
      font-size: 12px;
      color: rgba(0, 0, 0, 0.43);
    }
    .u-steps-tail {
      top: 8px;
      padding: 0 8px;
    }
    .u-steps-tail > i {
      height: 1px;
      border-radius: 1px;
      width: 100%;
    }
    .u-steps-head-inner > .u-steps-icon.uicon {
      -webkit-filter: none;
              filter: none;
    }
    .u-steps-head-inner > .u-steps-icon.uicon {
      font-size: 12px;
      line-height: 1.4;
    }
    .u-steps-custom .u-steps-head-inner > .u-steps-icon {
      font-size: 18px;
      width: 18px;
      height: 18px;
    }
  }
  
}


.u-steps-vertical{
  .u-steps-item {
    display: block;
  }
  .u-steps-tail {
    position: absolute;
    left: 13px;
    top: 0;
    height: 100%;
    width: 1px;
    padding: 30px 0 4px 0;
  }
  .u-steps-tail > i {
    height: 100%;
    width: 1px;
  }
  .u-steps-tail > i:after {
    height: 0;
    width: 100%;
  }
  .u-steps-status-finish .u-steps-tail > i:after {
    height: 100%;
  }
  .u-steps-head {
    float: left;
  }
  .u-steps-head-inner {
    margin-right: 16px;
  }
  .u-steps-main {
    min-height: 47px;
    overflow: hidden;
    display: block;
  }
  .u-steps-main .u-steps-title {
    line-height: 26px;
  }
  .u-steps-main .u-steps-description {
    padding-bottom: 12px;
  }

  &.u-steps-small {
    .u-steps-tail {
      position: absolute;
      left: 9px;
      top: 0;
      padding: 22px 0 4px 0;
    }
    .u-steps-tail > i {
      height: 100%;
    }
    .u-steps-title {
      line-height: 18px;
    }
  }
} 



.u-steps-horizontal.u-steps-hidden {
  visibility: hidden;
}
.u-steps-horizontal .u-steps-description {
  max-width: 120px;
}
.u-steps-horizontal .u-steps-item:not(:first-child) .u-steps-head {
  padding-left: 10px;
  margin-left: -10px;
}
